{
  "semi": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "trailingComma": "none",
  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}
